.navigation-link-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    width: 100%;
}

.navigation-link-box:hover {
    background: rgb(255, 192, 192);
}

.drawer-bar {
    background-color: rgb(255, 192, 192);
    min-height: 100vh;
    height: 100%;
    padding: .75rem 0rem;
}