.main-container {
    display: grid;
    gap: 3rem 0;
}

.music-album-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.music-album-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.music-tracks-container {
    width: 100%;
    display: grid;
    gap: 3rem 0rem;
}

.music-track-container {
    display: grid;
    gap: 1.5rem 0rem;
}