.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    gap: 0rem .5rem;
    background-color: rgba(169, 159, 159, 0.356);
    padding: .5rem;
}