.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    gap: 0rem 0.25rem;
    background-color: var(--player-box-controls-color);
    padding: .5rem;
}