.main-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
}

.order-box {
    grid-column: span 1;
    display: flex;
    justify-content: center;
}

.music-track-cover-box {
    grid-column: span 1;
    display: flex;
    justify-content: center;
}

.title-box {
    grid-column: span 3;
}

.music-artist-container {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
}

.streams-box {
    grid-column: span 2;
}

.duration-box {
    grid-column: span 2;
}