*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

.light {
  --player-box-controls-color: rgba(232, 227, 227, 0.5);
  --bg-color: #ffffff;
  --text-color: #121212;
  --text-shadow: #3f3f3f;
  --navigation-drawer-hover-color: rgb(230, 230, 230);
  --cards-background-color: rgb(242, 242, 242);
  --cards-heading-background-color: rgb(230, 232, 232);
  --skeleton-loading-color: #e0e0e0;
  --active-color: #ffd16e;
}

.dark {
  --player-box-controls-color: rgba(38, 36, 36, 0.5);
  --bg-color: #121212;
  --text-color: #ffffff;
  --text-shadow: #a0a0a0;
  --navigation-drawer-hover-color: rgb(48, 48, 48);
  --cards-background-color: rgb(31, 32, 33);
  --cards-heading-background-color: rgb(26, 27, 28);
  --skeleton-loading-color: #1a1a1a;
  --active-color: #ffd16e;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}