.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--cards-background-color);
    color: white;
    box-shadow: 2px 2px 2px 2px var(--text-shadow);
}

.music-track-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 1.5rem;
}

.music-track-info-container {
    display: grid;
}

.image {
    border-radius: .3rem;
    object-fit: cover;
}

.music-track-title-container {
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--text-color);
}

.music-artists-container {
    font-size: 12px;
    color: #aaa;
}

.controls-container {
    display: grid;
    align-items: center;
    gap: .5rem;
}

.control-buttons-container {
    display: flex;
    justify-content: center;
}

.range-bar-container {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}