.main-container {
    display: grid;
    background-color: var(--player-box-controls-color);
    padding: 1rem 1.5rem;
}

.title-container {
    font-size: 1.5rem;
    font-weight: bold;
}

.music-artists-container {
    display: flex;
    justify-content: space-between;
}

.music-artist-box {
    font-size: 1rem;
    font-weight: lighter;
}

.music-artist-box:hover {
    text-decoration: underline;
    font-weight: bold;
}