.main-container {
    display: grid;
    gap: 2rem;
}

.music-album-information-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 5%;
}

.music-album-title-description-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.music-album-title-container {
    display: grid;
    font-size: 1.5rem;
    gap: .5rem;
}

.music-album-artists {
    display: flex;
    justify-content: space-between;
}

.music-artist-name {
    font-size: .9rem;
}

.music-artist-name:hover,
.music-artist-name:focus {
    text-decoration: underline;
    font-weight: 600;
}

.music-tracks-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.music-tracks-container {
    border-radius: .5rem;
    background-color: var(--cards-background-color);
    padding: .5rem;
    display: grid;
    gap: .1rem;
}

.info-containers-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    background-color: var(--cards-background-color);
    padding: 1.5rem 2rem;
    border-radius: .3rem;
}

.info-container {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.info-container-title-icon-box {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}

.info-container-title {
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.info-container-value {
    font-size: 0.9rem;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

.info-container-icon {
    display: flex;
    justify-content: center;
    font-size: 2rem !important;
}