.artist-header-container {
    position: relative;
    height: 30vh;
}

.artist-primary-image {
    z-index: -1;
    object-fit: cover;
}

.artist-title {
    position: absolute;
    bottom: 20%;
    left: 2%;
}

.main-container {
    display: grid;
    gap: 1rem;
}

.music-tracks-wrapper {
    display: grid;
    gap: 1rem;
}

.music-tracks-container {
    border-radius: .5rem;
    background-color: var(--cards-background-color);
    padding: .5rem;
    display: grid;
    gap: .1rem;
}

.music-albums-wrapper {
    display: grid;
    gap: 1rem;
}

.music-albums-container {
    width: fit-content;
}