.main-container {
    display: grid;
    padding: 2rem;
    gap: 2rem;
}

.page-title {
    font-size: 4rem;
}

.authentication-options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.login-container,
.signup-container {
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: var(--cards-background-color);
}