*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.light {
  --player-box-controls-color: rgba(232, 227, 227, 0.5);
  --bg-color: #ffffff;
  --text-color: #121212;
  --text-shadow: #3f3f3f;
  --navigation-drawer-hover-color: rgb(241, 241, 241);
}

.dark {
  --player-box-controls-color: rgba(169, 159, 159, 0.356);
  --bg-color: #121212;
  --text-color: #ffffff;
  --text-shadow: #a0a0a0;
  --navigation-drawer-hover-color: rgb(48, 48, 48);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}