.navigation-link-box {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    width: 100%;
}

.drawer-list {
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100vh;
    min-width: 25vw;
}

.navigation-link-box:hover {
    background: var(--navigation-drawer-hover-color);
}

.drawer-menu-icon {
    color: var(--text-color);
    position: relative;
}